/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'Press Start 2P', sans-serif;
  --font-weight-regular: 400;
  --word-spacing: 5px;
  --font-size-desktop: 14px;
  --margin-block-end-desktop: 52px;
  --btn-margin-block-end-desktop: 24px;
  --padding-inline-end-mobile: 17px;
  --margin-block-end-mobile: 50px;
  --bg-color: #fff;
  --bg-gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      rgb(211 211 211 / 0) 2px 4px
    ),
    repeating-linear-gradient(to bottom, #e7e7e7 0 2px, #1a1a1a 2px 4px);
  --accent-color: #000;
  --heart-color: red;
  --sparks-color: var(--heart-color);
  --heart-contour-color: var(--accent-color);
  --heart-main-body-color: var(--accent-color);
  --hover-button-text: var(--bg-color);
  --floppy-color: var(--bg-color);
}

:root.theme-dark {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'Press Start 2P', sans-serif;
  --font-weight-regular: 465;
  --word-spacing: 0.5px;
  --font-size-desktop: 18px;
  --btn-margin-block-end-desktop: 23px;
  --margin-block-end-desktop: 54px;
  --padding-inline-end-mobile: 25px;
  --margin-block-end-mobile: 51px;
  --bg-color: #000;
  --bg-gradient: repeating-linear-gradient(
      to right,
      #000 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(to bottom, #007f0c 0 2px, #004306 2px 4px);
  --accent-color: #00cc14;
  --heart-color: red;
  --sparks-color: var(--heart-color);
  --heart-contour-color: var(--accent-color);
  --heart-main-body-color: var(--accent-color);
  --hover-button-text: var(--accent-color);
  --floppy-color: var(--accent-color);
}

@media (prefers-color-scheme: light) {

  :root {
    --main-font: 'Inter', sans-serif;
    --accent-font: 'Press Start 2P', sans-serif;
    --font-weight-regular: 400;
    --word-spacing: 5px;
    --font-size-desktop: 14px;
    --margin-block-end-desktop: 52px;
    --btn-margin-block-end-desktop: 24px;
    --padding-inline-end-mobile: 17px;
    --margin-block-end-mobile: 50px;
    --bg-color: #fff;
    --bg-gradient: repeating-linear-gradient(
        to right,
        #d3d3d3 0 2px,
        rgb(211 211 211 / 0) 2px 4px
      ),
      repeating-linear-gradient(to bottom, #e7e7e7 0 2px, #1a1a1a 2px 4px);
    --accent-color: #000;
    --heart-color: red;
    --sparks-color: var(--heart-color);
    --heart-contour-color: var(--accent-color);
    --heart-main-body-color: var(--accent-color);
    --hover-button-text: var(--bg-color);
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'Press Start 2P', sans-serif;
    --font-weight-regular: 465;
    --word-spacing: 0.5px;
    --font-size-desktop: 18px;
    --margin-block-end-desktop: 54px;
    --btn-margin-block-end-desktop: 23px;
    --padding-inline-end-mobile: 25px;
    --margin-block-end-mobile: 51px;
    --bg-color: #000;
    --bg-gradient: repeating-linear-gradient(
        to right,
        #000 0 2px,
        rgb(0 0 0 / 0) 2px 4px
      ),
      repeating-linear-gradient(to bottom, #007f0c 0 2px, #004306 2px 4px);
    --accent-color: #00cc14;
    --heart-color: red;
    --sparks-color: var(--heart-color);
    --heart-contour-color: var(--accent-color);
    --heart-main-body-color: var(--accent-color);
    --hover-button-text: var(--accent-color);
  }
}

.page.theme-light {
  background-color: var(--bg-color);
}

.page.theme-dark {
  background-color: var(--bg-color);
}
