/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'Press Start 2P', 'fantasy', sans-serif;
  --font-weight-regular: 400;
  --word-spacing: 2px;
  --word-spacing-desktop: 5px;
  --font-size-desktop: 14px;
  --line-height: 21px;
  --margin-block-end-desktop: 50px;
  --card-title-margin-top-bottom-desktop: 5px;
  --btn-margin-block-end-desktop: 23px;
  --padding-inline-end-mobile: 43px;
  --margin-block-end-mobile: 48px;
  --card-gap-mobile: 50px;
  --bg-color: #fff;
  --bg-gradient:
    repeating-linear-gradient(
    to right,
    #d3d3d3 0 2px,
    transparent 2px 4px),
    repeating-linear-gradient(to bottom, transparent 0 2px, #d3d3d3 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
  --accent-color: #000;
  --heart-color: red;
  --sparks-color: var(--heart-color);
  --heart-contour-color: var(--accent-color);
  --heart-main-body-color: var(--accent-color);
  --hover-button-text: var(--bg-color);
  --floppy-color: var(--bg-color);
}

:root.theme-dark {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'Press Start 2P', 'fantasy', sans-serif;
  --font-weight-regular: 465;
  --font-weight-bold: 785;
  --word-spacing: 0.5px;
  --word-spacing-desktop: ;
  --font-size-desktop: 18px;
  --btn-margin-block-end-desktop: 25px;
  --margin-block-end-desktop: 50px;
  --card-title-margin-top-bottom-desktop: 5px;
  --padding-inline-end-mobile: 25px;
  --margin-block-end-mobile: 51px;
  --card-gap-mobile: 51px;
  --bg-color: #000;
  --bg-gradient:     
    repeating-linear-gradient(
    to right,
    #000 0 2px,
    transparent 2px 4px),
    repeating-linear-gradient(to bottom, transparent 0 2px, #000 2px 4px),
    linear-gradient(#007f0c, #004306);
  --accent-color: #00cc14;
  --heart-color: red;
  --sparks-color: var(--heart-color);
  --heart-contour-color: var(--accent-color);
  --heart-main-body-color: var(--accent-color);
  --hover-button-text: var(--accent-color);
  --floppy-color: var(--accent-color);
}

@media (prefers-color-scheme: light) {

  :root {
    --main-font: 'Inter', sans-serif;
    --accent-font: 'Press Start 2P', 'fantasy', sans-serif;
    --font-weight-regular: 400;
    --word-spacing: 2px;
    --word-spacing-desktop: 7px;
    --line-height: 21px;
    --font-size-desktop: 14px;
    --margin-block-end-desktop: 50px;
    --card-title-margin-top-bottom-desktop: 5px;
    --btn-margin-block-end-desktop: 23px;
    --padding-inline-end-mobile: 43px;
    --margin-block-end-mobile: 48px;
    --card-gap-mobile: 50px;
    --bg-color: #fff;
    --bg-gradient:
      repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px),
      repeating-linear-gradient(to bottom, transparent 0 2px, #d3d3d3 2px 4px),
      linear-gradient(#e7e7e7, #1a1a1a);
    --accent-color: #000;
    --heart-color: red;
    --sparks-color: var(--heart-color);
    --heart-contour-color: var(--accent-color);
    --heart-main-body-color: var(--accent-color);
    --hover-button-text: var(--bg-color);
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'Press Start 2P', 'fantasy', sans-serif;
    --font-weight-regular: 465;
    --font-weight-bold: 785;
    --word-spacing: 0.5px;
    --word-spacing-desktop: 0;
    --font-size-desktop: 18px;
    --margin-block-end-desktop: 50px;
    --card-title-margin-top-bottom-desktop: 5px;
    --btn-margin-block-end-desktop: 25px;
    --padding-inline-end-mobile: 25px;
    --margin-block-end-mobile: 51px;
    --card-gap-mobile: 51px;
    --bg-color: #000;
    --bg-gradient:
      repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px),
      repeating-linear-gradient(to bottom, transparent 0 2px, #000 2px 4px),
      linear-gradient(#007f0c, #004306);
    --accent-color: #00cc14;
    --heart-color: red;
    --sparks-color: var(--heart-color);
    --heart-contour-color: var(--accent-color);
    --heart-main-body-color: var(--accent-color);
    --hover-button-text: var(--accent-color);
  }
}

.page.theme-light {
  background-color: var(--bg-color);
}

.page.theme-dark {
  background-color: var(--bg-color);
}
